<h2>All Heroes
  <button class="warr-bg">Warrior</button>
  <button class="supp-bg">Support</button>
  <button class="spec-bg">Specialists</button>
  <button class="assa-bg">Assassins</button>
</h2>
<div class="container">
  <ul class="heroes row">
    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let hero of heroes; let i=index">
      <a id="hero-details" routerLink="/hero/{{hero.short_name}}">
        <!-- <div id="hero-details-name" class="warr-bg">{{ hero.name }}</div> -->
        <ng-container [ngSwitch]="hero?.role">
          <!-- ASSASSIN -->
          <div *ngSwitchCase="'Assassin'" id="hero-details-name" class="assa-bg">{{ hero.name }}</div>
          <div *ngSwitchCase="'Assassin'" id="hero-details-img-container" class="assa-bg-deg">
            <img class="assa-bd" id="hero-details-avatar" src="{{ hero.icon_url['92x93'] }}" alt="{{ hero.name }}">
            <img class="assa-bd" id="hero-details-role-pic" src="https://d1u5p3l4wpay3k.cloudfront.net/allstars_gamepedia/e/ee/Role_Assassin_Simple.svg?version=8a37cb81c613a217a13a4f186a83238c" alt="{{ hero.role }}">
          </div>
          <!-- WARRIOR -->
          <div *ngSwitchCase="'Warrior'" id="hero-details-name" class="warr-bg">{{ hero.name }}</div>
          <div *ngSwitchCase="'Warrior'" id="hero-details-img-container" class="warr-bg-deg">
            <img class="warr-bd" id="hero-details-avatar" src="{{ hero.icon_url['92x93'] }}" alt="{{ hero.name }}">
            <img class="warr-bd" id="hero-details-role-pic" src="https://d1u5p3l4wpay3k.cloudfront.net/allstars_gamepedia/4/42/Role_Warrior_Simple.svg?version=de1eb19ace911216375b9544efd7436f" alt="{{ hero.role }}">
          </div>
          <!-- SUPPORT -->
          <div *ngSwitchCase="'Support'" id="hero-details-name" class="supp-bg">{{ hero.name }}</div>
          <div *ngSwitchCase="'Support'" id="hero-details-img-container" class="supp-bg-deg">
            <img class="supp-bd" id="hero-details-avatar" src="{{ hero.icon_url['92x93'] }}" alt="{{ hero.name }}">
            <img class="supp-bd" id="hero-details-role-pic" src="https://d1u5p3l4wpay3k.cloudfront.net/allstars_gamepedia/f/f0/Role_Support_Simple.svg?version=5d99e408135cc0f2d94e4e4a817f1c5f" alt="{{ hero.role }}">
          </div>
          <!-- SPECIALIST -->
          <div *ngSwitchCase="'Specialist'" id="hero-details-name" class="spec-bg">{{ hero.name }}</div>
          <div *ngSwitchCase="'Specialist'" id="hero-details-img-container" class="spec-bg-deg">
            <img class="spec-bd" id="hero-details-avatar" src="{{ hero.icon_url['92x93'] }}" alt="{{ hero.name }}">
            <img class="spec-bd" id="hero-details-role-pic" src="https://d1u5p3l4wpay3k.cloudfront.net/allstars_gamepedia/0/0a/Role_Specialist_Simple.svg?version=3aacd0491129a139f55f091988dfe10f" alt="{{ hero.role }}">
          </div>
        </ng-container>
        <span>{{ hero.role }}</span>
      </a>
    </li>
  </ul>
</div>


<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
</div>
